#dashboard {
  display: flex;
  flex-direction: row;
  background-color: "red";
  width: "400px";
}
#forecast-column {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
}

#historicals-column {
  display: flex;
  flex-direction: column;
}
